#canvas{
	display: block;
	position: absolute;
	z-index: 10;
}
#bgdiv{
	border: 1px solid #000;
	width: 320px;
	height: 568px;
	margin: 0 auto;
	position: relative;
}
.imgbox{
	position: absolute;
	width: 320px;
	height:568px;
	background-image: url(../image/background.png);
}
#start{
	font-size: 30px;
	color: white;
	position: absolute;
	left:50%;
	top:50%;
	z-index: 11;
	margin-left: -60px;
	margin-top: -60px;

}
img{
	display: none;
}